<!DOCTYPE html>
<html lang="en">
<head>
    <title>Free Thinkers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <div class="animation">
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
    </div>
    <div class="loginbox">
        <h1><span style="color:white">Sign </span>In</h1>
        <form action="/login/ans" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" name="" value="Login">
        </form>
        <a href="{{ url_for('index') }}">Go to home page</a>
    </div>
    <h1>{{info}}</h1>
</body>
</html>